{% extends 'base.html.twig' %}

{% block title %}Hello TwigJS{% endblock %}

{% block body %}
    <h1>Hello Twig</h1>

    <p>
        <a href="/queryparams?name=john">John</a>
    </p>

    <p>Hello {{ name }}</p>
{% endblock %}
